		<script type="text/javascript">
			wbos.CssTools.MediaQueryFallBack.LoadCss('{+Link.base+}css/screen.css', '{+Link.base+}css/handheld.css', 660)
			codeview.classFilter.Init()
		</script>
	</body>
	
	{+ /*IO.fileExists(publish.conf.outDir + '.analytics-code.html') &&*/ IO.readFile(publish.conf.outDir + '.analytics-code.html') +}
</html>