[submodule "lib/es5-shim"]
	path = lib/es5-shim
	url = git@github.com:kriskowal/es5-shim.git
[submodule "build/html"]
	path = build/html
	url = git@github.com:quadroid/clonejs.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:quadroid/clonejs.wiki.git
